FORMAT: X-1A

HOST: https://data.brightcove.com/analytics-api/videocloud

# Analytics API v1 Reference

Below are the available operations for the Analytics API

# Report [/account/{accountId}/report?{dimensions}&{where}&{from}&{to}&{limit}&{offset}&{sort}{&fields}&{format}]

Reports return analytics data on one or more dimensions

+ Parameters
    + accountId (required string `123456789`) ... The Video Cloud account id &mdash; in older versions of Studio called the Publisher ID
    + dimensions (required, string, `video,player`) ... The dimension(s) to report on *one or more* in a comma-delimited list &mdash; note that some combinations will produce invalid requests
        + values
            * `account`
            + `day`
            + `device_os`
            + `device_type`
            + `player`
            + `referrer_domain`
            + `search_terms`
            + `source_type`
            + `video`
    + where (optional, string, `video==12345;player==67890`) ... Filters for the report in the form `where=dimension1==val1;dimension2==val2`
    + from=`[30 days before now]` (optional, number, `1375761600000`) ... Start time for the period covered by the report &mdash; either epoch time in milliseconds or `alltime` or  a date in the format `yyyy-mm-dd` (such as `2013-09-26`)
    + to=`now` (optional, number, `1375761600000`) ... End time for the period covered by the report &mdash; either epoch time in milliseconds or `now` or  a date in the format `yyyy-mm-dd` (such as `2013-09-26`)
    + limit=`10` (optional, number, `50`) ... The number of results to return &mdash; an integer greater than 0
    + offset=`0` (optional, number, `50`) ... The number of results to skip &mdash; an integer greater than or equal to 0
    + fields (optional, string, `video_view,video_percent_viewed`) ... The metrics to return &mdash; one or more metrics as a comma-delimited list &mdash; for allowable values, see the <a class="overview-link" href="#metrics">table of available metrics by dimension</a> in the API Overview.
        + values
            + `player_load`
            + `video_impression`
            + `video_view`
            + `video_engagement`
            + `video_percent_viewed`
            + `video_seconds_viewed`
    + sort (optional, string, `video_view`) ... The metric field to sort the results on. For allowable values, see the <a class="overview-link" href="#metrics">table of available metrics by dimension</a> in the API Overview.
        + values
            + `player_load`
            + `video_impression`
            + `video_view`
            + `video_engagement`
            + `video_percent_viewed`
            + `video_seconds_viewed`
    + format=`json` (optional, string, `csv`) ... The format to return the results in `json`, `csv`, or `xlsx`
        + values
            + `json`
            + `csv`
            + `xlsx`

## GET

+ Headers
    ```
    Authorization: Bearer 15075c51ae4b0af095c9a619a
    ```

+ Request
    ```

    ```
+ Response 200 (application/json;charset=UTF-8)
    + Body

        ```js
        {
            "account": "20318290001",
            "item_count": 125,
            "items": [
                {
                    "engagement_score": 189.443,
                    "play_rate": 0.667,
                    "video": "2127084613001",
                    "video_duration": "341",
                    "video_engagement_1": 3.0000000000000004,
                    "video_engagement_25": 3.0000000000000004,
                    "video_engagement_50": 4.000000000000001,
                    "video_engagement_75": 4.000000000000001,
                    "video_engagement_100": 3.0000000000000004,
                    "video_impression": 3,
                    "video_name": "Live Streaming using Telestream Wirecast (Japanese)",
                    "video_percent_viewed": 378.88563049853377,
                    "video_seconds_viewed": 1292,
                    "video_view": 2
                }
            ],
            "summary": {
                "video_engagement_1": 1875.083,
                "video_engagement_25": 1356.95,
                "video_engagement_50": 1107.931,
                "video_engagement_75": 956.374,
                "video_engagement_100": 777.37,
                "video_seconds_viewed": 238952,
                "video_percent_viewed": 115377.945,
                "video_impression": 11479,
                "video_view": 2013,
                "play_rate": 0.175,
                "engagement_score": 57.316
            }
        }
        ```

# Rollup [/account/{accountId}?{where}&{from}&{to}&{limit}&{offset}]

Account rollup requests return a summary of analytics data for the account. See the <a class="overview-link" href="#metrics">table of available metrics by dimension</a> in the API Overview for details of what metrics are included.

+ Parameters
    + accountId (required string `123456789`) ... The Video Cloud account id &mdash; in older versions of Studio called the Publisher ID
    + where (optional, string, `video==123455;player==67890`) ... Filters for the report in the form `where=dimension1==val1;dimension2==val2`
    + from=`[30 days before now]` (optional, string, `2013-11-16`) ... Start time for the period covered by the report &mdash; epoch time in milliseconds or a date in the format `yyyy-mm-dd` (such as `2013-09-26`)
    + to=`now` (optional, number, `1375761600000`) ... End time for the period covered by the report &mdash; either epoch time in milliseconds or `now` or a date in the format `yyyy-mm-dd` (such as `2013-09-26`)
    + limit=`10` (optional, number, `50`) ... The number of results to return &mdash; an integer greater than 0
    + offset=`0` (optional, number, `50`) ... The number of results to skip &mdash; an integer greater than or equal to 0

## GET

+ Headers
    ```
    Authorization: Bearer 15075c51ae4b0af095c9a619a
    ```

+ Request
    ```

    ```
+ Response 200 (application/json;charset=UTF-8)
    + Body

        ```
        {
            "video": "2660272749001",
            "account": "20318290001",
            "metrics": {
                "video_engagement": {
                    "series": {
                        "type": "percentile",
                        "values": [
                            45.8514873883045,
                            42.56294536817103,
                            35.532405836443836,
                            31.658183463409117,
                            30.50005655468838,
                            27.463182897862232,
                            27.111638954869356,
                            27.12589073634204,
                            27.2375296912114,
                            26.04988123515439,
                            27.073634204275535,
                            27.0403800475059,
                            26.064133016627075,
                            25.475059382422817,
                            25.439429928741095,
                            23.914489311163866,
                            22.999999999999996,
                            23.05225653206651,
                            22,
                            21.04988123515439,
                            21.902612826603367,
                            20.999999999999996,
                            22.81947743467929,
                            23.009501187648457,
                            23.58432304038009,
                            25.000000000000004,
                            25.712589073634206,
                            25.712589073634156,
                            25.00000000000001,
                            24.073634204275574,
                            21.403800475059384,
                            21.950118764845577,
                            20.320665083135395,
                            17.712589073634206,
                            15.679334916864605,
                            15,
                            15.000000000000028,
                            15,
                            14.762470308788586,
                            14.429928741092636,
                            14.000000000000021,
                            15.38242280285035,
                            14.999999999999986,
                            14.287410926365762,
                            14.655581947743471,
                            14.000000000000007,
                            14.000000000000007,
                            14.01900237529697,
                            15,
                            15,
                            14.831353919239898,
                            14,
                            14.505938242280298,
                            14.681710213776732,
                            14.237529691211392,
                            13.999999999999991,
                            14.000000000000021,
                            12.726840855106904,
                            11.999999999999998,
                            11.999999999999984,
                            12,
                            11.995249406175745,
                            11,
                            10.182897862232828,
                            10,
                            10,
                            10,
                            10,
                            10.000000000000014,
                            10.071258907363424,
                            9.000000000000043,
                            7.546318289786242,
                            8,
                            8.840855106888341,
                            8.999999999999986,
                            9.000000000000014,
                            9,
                            8.197149643705416,
                            8,
                            7.999999999999986,
                            8,
                            7.94774346793351,
                            7.712589073634204,
                            7,
                            6.999999999999957,
                            7,
                            7.000000000000057,
                            7.826603325415675,
                            8.876484560570049,
                            8.999999999999986,
                            9.000000000000014,
                            8.923990498812325,
                            8.000000000000014,
                            8.000000000000014,
                            8,
                            8.000000000000014,
                            8.800475059382421,
                            8.999999999999957,
                            8.999999999999986,
                            8.999999999999972
                        ]
                    }
                },
                "video_seconds_viewed": {
                    "series": {
                        "step": 3600000,
                        "values": [
                            584,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            124,
                            0,
                            0,
                            0,
                            2,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            421,
                            279,
                            5,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            53,
                            0,
                            0,
                            0,
                            0,
                            26,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            9,
                            0,
                            0,
                            0,
                            0,
                            301,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            57,
                            0,
                            0,
                            0,
                            201,
                            220,
                            31,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            9,
                            9,
                            0,
                            0,
                            10,
                            0,
                            80,
                            249,
                            146,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            126,
                            0,
                            434,
                            10,
                            394,
                            0,
                            0,
                            67,
                            0,
                            0,
                            0,
                            0,
                            0,
                            252,
                            0,
                            38,
                            2,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            158,
                            0,
                            381,
                            0,
                            0,
                            0,
                            16,
                            0,
                            0,
                            11,
                            0,
                            3,
                            0,
                            0,
                            0,
                            6,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            19,
                            8,
                            0,
                            441,
                            0,
                            0,
                            299,
                            0,
                            9,
                            0,
                            0,
                            0,
                            159,
                            0,
                            0,
                            0,
                            0,
                            23,
                            0,
                            421,
                            0,
                            421,
                            0,
                            8,
                            225,
                            29,
                            0,
                            0,
                            0
                        ],
                        "type": "time",
                        "start": 1384405200000
                    }
                },
                "video_percent_viewed": {
                    "series": {
                        "step": 3600000,
                        "values": [
                            138.71733966745842,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            29.453681710213775,
                            0,
                            0,
                            0,
                            0.4750593824228028,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            99.99999999999999,
                            66.270783847981,
                            1.187648456057007,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            12.589073634204274,
                            0,
                            0,
                            0,
                            0,
                            6.175771971496436,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            2.142857142857143,
                            0,
                            0,
                            0,
                            0,
                            71.49643705463184,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            13.539192399049881,
                            0,
                            0,
                            0,
                            47.74346793349169,
                            52.25653206650831,
                            7.363420427553444,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            2.137767220902613,
                            2.137767220902613,
                            0,
                            0,
                            2.375296912114014,
                            0,
                            19.002375296912113,
                            59.14489311163896,
                            34.6793349168646,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            29.92874109263658,
                            0,
                            103.09523809523809,
                            2.375296912114014,
                            93.58669833729215,
                            0,
                            0,
                            15.914489311163896,
                            0,
                            0,
                            0,
                            0,
                            0,
                            59.857482185273156,
                            0,
                            9.026128266033254,
                            0.47619047619047616,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            37.52969121140143,
                            0,
                            90.49881235154395,
                            0,
                            0,
                            0,
                            3.800475059382423,
                            0,
                            0,
                            2.6128266033254155,
                            0,
                            0.7125890736342043,
                            0,
                            0,
                            0,
                            1.4251781472684084,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            4.523809523809524,
                            1.9002375296912113,
                            0,
                            104.75059382422802,
                            0,
                            0,
                            71.02137767220903,
                            0,
                            2.137767220902613,
                            0,
                            0,
                            0,
                            37.76722090261282,
                            0,
                            0,
                            0,
                            0,
                            5.463182897862232,
                            0,
                            100,
                            0,
                            100,
                            0,
                            1.9002375296912113,
                            53.444180522565325,
                            6.888361045130641,
                            0,
                            0,
                            0
                        ],
                        "type": "time",
                        "start": 1384405200000
                    }
                },
                "video_impression": {
                    "series": {
                        "step": 3600000,
                        "values": [
                            6,
                            4,
                            0,
                            0,
                            1,
                            5,
                            4,
                            9,
                            9,
                            4,
                            3,
                            5,
                            3,
                            9,
                            2,
                            5,
                            5,
                            3,
                            1,
                            4,
                            0,
                            2,
                            7,
                            2,
                            1,
                            2,
                            4,
                            2,
                            5,
                            2,
                            1,
                            1,
                            4,
                            4,
                            5,
                            3,
                            1,
                            4,
                            5,
                            1,
                            2,
                            3,
                            0,
                            1,
                            2,
                            1,
                            0,
                            1,
                            1,
                            1,
                            3,
                            0,
                            1,
                            2,
                            2,
                            1,
                            4,
                            3,
                            15,
                            2,
                            2,
                            5,
                            2,
                            3,
                            5,
                            4,
                            1,
                            3,
                            1,
                            3,
                            3,
                            1,
                            1,
                            0,
                            1,
                            1,
                            0,
                            2,
                            2,
                            0,
                            3,
                            3,
                            3,
                            4,
                            1,
                            7,
                            1,
                            6,
                            3,
                            5,
                            1,
                            2,
                            3,
                            3,
                            2,
                            1,
                            2,
                            2,
                            1,
                            1,
                            2,
                            3,
                            2,
                            5,
                            6,
                            9,
                            5,
                            3,
                            3,
                            4,
                            2,
                            2,
                            6,
                            4,
                            8,
                            6,
                            2,
                            4,
                            2,
                            3,
                            2,
                            1,
                            2,
                            1,
                            1,
                            2,
                            6,
                            2,
                            4,
                            3,
                            3,
                            4,
                            3,
                            5,
                            0,
                            1,
                            2,
                            6,
                            5,
                            0,
                            2,
                            5,
                            6,
                            4,
                            4,
                            3,
                            3,
                            0,
                            2,
                            2,
                            4,
                            1,
                            9,
                            3,
                            4,
                            4,
                            4,
                            7,
                            8,
                            2,
                            2,
                            9,
                            4,
                            0,
                            2,
                            7,
                            2,
                            0,
                            2,
                            3,
                            3,
                            2,
                            2,
                            7,
                            4,
                            0,
                            3,
                            3
                        ],
                        "type": "time",
                        "start": 1384405200000
                    }
                },
                "video_view": {
                    "series": {
                        "step": 3600000,
                        "values": [
                            2,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            1,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            1,
                            1,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0,
                            1,
                            0,
                            1,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            1,
                            0,
                            0,
                            1,
                            0,
                            2,
                            1,
                            1,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            2,
                            1,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            1,
                            1,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            1,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            1,
                            0,
                            1,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            1,
                            0,
                            2,
                            0,
                            0,
                            1,
                            0,
                            1,
                            0,
                            0,
                            0,
                            2,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            1,
                            0,
                            1,
                            0,
                            1,
                            3,
                            1,
                            0,
                            1,
                            0
                        ],
                        "type": "time",
                        "start": 1384405200000
                    }
                }
            },
            "video_duration": "421",
            "video_name": "Troubleshooting Playback Errors"
        }
        ```
