FORMAT: X-1A

HOST: https://data.brightcove.com/analytics-api/videocloud

# Analytics API v1 Reference

Below are the available operations for the Analytics API

# Report [/account/{account-id}/report?dimensions&where&from&to&limit&offset&sort&fields&format]

Reports return analytics data on one or more dimensions

+ Parameters
    + account-id (required string `123456789`) ... The Video Cloud account id &mdash; in older versions of Studio called the Publisher ID
    + dimensions (required, string, `video,player`) ... The dimension(s) to report on *one or more* in a comma-delimited list &mdash; note that some combinations will produce invalid requests
        + values
            * `account`
            + `day`
            + `device_os`
            + `device_type`
            + `player`
            + `referrer_domain`
            + `search_terms`
            + `source_type`
            + `video`
    + where (optional, string, `video==12345;player==67890`) ... Filters for the report in the form `dimension1==val1;dimension2==val2`
    + from=`[30 days before now]` (optional, number, `1375761600000`) ... Start time for the period covered by the report &mdash; either epoch time in milliseconds or `alltime` or  a date in the format `yyyy-mm-dd` (such as `2013-09-26`)
    + to=`now` (optional, number, `1375761600000`) ... End time for the period covered by the report &mdash; either epoch time in milliseconds or `now` or  a date in the format `yyyy-mm-dd` (such as `2013-09-26`)
    + limit=`10` (optional, number, `50`) ... The number of results to return &mdash; an integer greater than 0
    + offset=`0` (optional, number, `50`) ... The number of results to skip &mdash; an integer greater than or equal to 0
    + fields (optional, string, `video_view,video_percent_viewed`) ... The metrics to return &mdash; one or more metrics as a comma-delimited list &mdash; for allowable values, see the <a class="overview-link" href="#metrics">table of available metrics by dimension</a> in the API Overview.
        + values
            + `player_load`
            + `video_impression`
            + `video_view`
            + `video_engagement`
            + `video_percent_viewed`
            + `video_seconds_viewed`
    + sort (optional, string, `video_view`) ... The metric field to sort the results on. For allowable values, see the <a class="overview-link" href="#metrics">table of available metrics by dimension</a> in the API Overview.
        + values
            + `player_load`
            + `video_impression`
            + `video_view`
            + `video_engagement`
            + `video_percent_viewed`
            + `video_seconds_viewed`
    + format=`json` (optional, string, `csv`) ... The format to return the results in `json`, `csv`, or `xlsx`
        + values
            + `json`
            + `csv`
            + `xlsx`

## GET

+ Headers
    ```
    Authorization: Bearer 15075c51ae4b0af095c9a619a
    ```

+ Request
    ```

    ```
+ Response 200 (application/json;charset=UTF-8)
    + Body

        ```js
        {
            "account": "20318290001",
            "item_count": 123,
            "items": [
                {
                    "video": "2127145422001",
                    "video_duration": "124",
                    "video_engagement_1": 0,
                    "video_engagement_25": 4,
                    "video_engagement_50": 2,
                    "video_engagement_75": 2,
                    "video_engagement_100": 2,
                    "video_impression": 65,
                    "video_name": "Creating a Playlist (Japanese)",
                    "video_percent_viewed": 297.81667977970096,
                    "video_seconds_viewed": 369,
                    "video_view": 9
                }
            ]
        }
        ```

# Rollup [/account/{account-id}?where&from&to&limit&offset]

Account rollup requests return a summary of analytics data for the account. See the <a class="overview-link" href="#metrics">table of available metrics by dimension</a> in the API Overview for details of what metrics are included.

+ Parameters
    + account-id (required string `123456789`) ... The Video Cloud account id &mdash; in older versions of Studio called the Publisher ID
    + where (optional, string, `video==123455;player==67890`) ... Filters for the report in the form `dimension1==val1;dimension2==val2`
    + from=`[30 days before now]` (optional, string, `2013-11-16`) ... Start time for the period covered by the report &mdash; epoch time in milliseconds or a date in the format `yyyy-mm-dd` (such as `2013-09-26`)
    + to=`now` (optional, number, `1375761600000`) ... End time for the period covered by the report &mdash; either epoch time in milliseconds or `now` or a date in the format `yyyy-mm-dd` (such as `2013-09-26`)
    + limit=`10` (optional, number, `50`) ... The number of results to return &mdash; an integer greater than 0
    + offset=`0` (optional, number, `50`) ... The number of results to skip &mdash; an integer greater than or equal to 0

## GET

+ Headers
    ```
    Authorization: Bearer 15075c51ae4b0af095c9a619a
    ```

+ Request
    ```

    ```
+ Response 200 (application/json;charset=UTF-8)
    + Body

        ```
        {
            "video": "2423810273001",
            "account": "20318290001",
            "metrics": {
                "video_engagement": {
                    "series": {
                        "type": "percentile",
                        "values": [
                            1.6535947712418297,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            1.0000000000000007,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            1.9477124183006533,
                            2.0000000000000013,
                            1.9999999999999996,
                            1.9999999999999996,
                            1.999999999999996,
                            1.9999999999999996,
                            1.9999999999999996,
                            1.9999999999999996,
                            1.9999999999999996,
                            1.999999999999996,
                            1.9999999999999996,
                            1.1633986928104567,
                            0.9999999999999998,
                            1.8758169934640523,
                            1.9999999999999996,
                            1.084967320261441,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999927,
                            0.9999999999999998,
                            1.111111111111114,
                            1.9999999999999996,
                            1.9999999999999996,
                            1.9999999999999996,
                            2.0000000000000138,
                            1.9999999999999996,
                            1.9999999999999996,
                            1.9999999999999925,
                            1.9999999999999996,
                            1.7124183006535953,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            1.000000000000014,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            1.000000000000014,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998,
                            0.9999999999999998
                        ]
                    }
                },
                "video_seconds_viewed": {
                    "series": {
                        "step": 3600000,
                        "values": [
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            373,
                            0,
                            0,
                            0,
                            2,
                            0,
                            0,
                            0
                        ],
                        "type": "time",
                        "start": 1377748800000
                    },
                    "alltime": 66153
                },
                "video_percent_viewed": {
                    "series": {
                        "step": 3600000,
                        "values": [
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            121.89542483660131,
                            0,
                            0,
                            0,
                            0.6535947712418301,
                            0,
                            0,
                            0
                        ],
                        "type": "time",
                        "start": 1377748800000
                    },
                    "alltime": 21618.651023249957
                },
                "video_impression": {
                    "series": {
                        "step": 3600000,
                        "values": [
                            0,
                            0,
                            0,
                            0,
                            1,
                            1,
                            1,
                            2,
                            1,
                            1,
                            1,
                            1,
                            1,
                            0,
                            6
                        ],
                        "type": "time",
                        "start": 1377748800000
                    },
                    "alltime": 1544
                },
                "video_view": {
                    "series": {
                        "step": 3600000,
                        "values": [
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0,
                            1,
                            0,
                            0,
                            0
                        ],
                        "type": "time",
                        "start": 1377748800000
                    },
                    "alltime": 357
                }
            },
            "video_name": "Embedding Videos in Tweets Using Twitter Player Cards",
            "video_duration": "306"
        }
        ```
